<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="100" height="30">
          <use href="{=$icon-path}"></use>
        </svg>
      </a>
      <ul class="badges-list">
        <li class="badges-item">
          <a class="badges-link {=$highlight-act}" href="./1-gallery.html"
            >Task1</a
          >
        </li>
        <li class="badges-item">
          <a class="badges-link {=$highlight-curr}" href="./2-form.html"
            >Task2</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
